@import url("http://fonts.googleapis.com/css?family=Kite+One");
@import url("http://fonts.googleapis.com/css?family=Roboto");

body
{
    font-family:"Roboto";
    font-size: 14px;
    color:#FFF;
}

#PageWrapper 
{ 
    width: 95%; 
    min-width: 970px;
    margin-left:auto;
    margin-right:auto;
}

#pageContent { min-height: 500px; }