/* 
    Document   : header
    Created on : Jul 25, 2013, 2:30:47 PM
    Author     : Orfeo
    Description:
        Purpose of the stylesheet follows.
*/

#PageHeader
{ 
    /* Medidas */
    height:110px;
    padding:10px;
    
    /* Gris oscuro */
    background-color: #333;
    
    /* configuracion del logo */
    background-image: url("../images/logos/MilasaLogo001.png");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: 1% 50%;
    
    /* tipografia */
    font-family:"Kite One";
    color:#FFF;
}

#HeaderContainer
{
    height: 80px;
    margin-top: 20px;
    margin-left:8%;
}

#PageTitle
{
    font-size:32px;
    font-weight:bold;
}

#PageTitleSeparator { border-color:#F00; }

#PageSubtitle 
{ 
    font-size:18px;
    font-family:"Roboto";
}

