/* CSS Document */
@import url("http://fonts.googleapis.com/css?family=Kite+One");
@import url("http://fonts.googleapis.com/css?family=Roboto");

body
{
	background-color:#C00;
	font-family:"Roboto";
	color:#FFF;
}

#PageWrapper
{
	width:95%;
	min-height:400px;
	min-width:500px;
	margin-left:auto;
	margin-right:auto;
	background-color:#333;
}

#PageHeader
{
	width:100%;
	height:110px;
	background-image:url(../_resources/_logo/MilasaLogo001.png);
	background-repeat:no-repeat;
	background-size:80px 80px;
	background-position:10px 50%;
}

#loginButton
{
	padding:10px;
	border-radius:8px;
	display:inline-block;
	background-color:#C00;
	color:#FFF;
	text-decoration:none;
	position:absolute;
	right:5%;
	margin-top:35px;
}

#PageTitle
{
	position:absolute;
	font-family:"Kite One";
	font-weight:bold;
	font-size:32px;
	margin-left:110px;
	top:30px;
}

#TitleSeparator
{
	position:absolute;
	top:55px;
	width:50%;
	margin-left:110px;
	border:#F00 solid thin;
}

#PageSubtitle
{
	position:absolute;
	font-family:"Roboto";
	font-size:18px;
	margin-left:110px;
	top:70px;
}

#PageNavigation
{
	width:100%;
}

#NavigationList
{ 
	text-align:center;
	background-color:#AAA; 
	padding:10px; 
}

.NavigationElement
{
	display:inline-block;
	float:left;
	margin-left:15px;
	width:150px;
	height:250px;
	border-radius:2em;
	background-color:#333;
}

.NavigationElement:hover
{
	cursor:pointer;
}

.NavigationElement img
{
	width:100px;
	height:100px;
	padding:5px;
	padding-top:50px;
}

.NavigationElement span
{
	margin-left:auto;
	margin-right:auto;
	font-size:12px;
}

#PageContent
{
	width:100%;
	background-color:#FFF;
}

#ContentTitle
{
	font-size:24px;
}

#ContentText
{
	color:#666;
	float:right;
	width:64%;
	padding:1%;
}

#ContentText p
{
	margin-top:10px;
	text-align:justify;
}

#ContentImage
{
	float:left;
	width:28%;
	padding:1%;
}

#ContentImage img
{
	width:400px;
}

.clear{ clear:both; }

#PageFooter
{
	width:100%;;
	height:110px;
}

#PageAddress
{
	text-align:center;
	line-height:100px;
	margin-left:100px;
	font-size:9px;
}